.text {
	font-family: "Montserrat";
	font-size: 1rem;
}

.title {
	--title-size: min(calc(2rem + var(--vu) + var(--vpx)), 100px);
	font-family: "Montserrat";
	font-weight: 600;
	font-size: var(--title-size);
	text-transform: lowercase;
	line-height: var(--title-size);
}

.author {
	--author-size: min(calc(1.18rem + var(--vu)/2 + var(--vpx)), 40px);
	font-family: "Montserrat";
	font-weight: 400;
	font-size: var(--author-size);
	font-style: italic;
}

h1.heading, .heading1 {
	--heading1-size: min(calc(1rem + var(--vu)/1.5 + var(--vpx)), 36px);
	font-family: "Montserrat";
	font-weight: 700;
	font-size: var(--heading1-size);
	text-transform: lowercase;
}

h2.heading, .heading2 {
	--heading1-size: min(calc(1rem + var(--vu)/2.5 + var(--vpx)), 28px);
	font-family: "Montserrat";
	font-weight: 500;
	font-size: var(--heading1-size);
	font-style: italic;
}

h3.heading, .heading3 {

}
